.navbar-brand { position: relative; left: .6em; top: .6em; display: inline-block; width: 36px; height: 36px; text-indent: -9999px; background: url(../img/favicon-white.png) center center no-repeat; background-size: 100%;}
h3 span { font-weight: normal; font-size: 20px; color: #444;}
.category div { display: none;}
.archive a, .category a { text-decoration: none;}
time { margin-right: .5em; color: #ccc;}
.language-bash { position: relative; padding-left: 1.2em;}
.language-bash::before { content: '$'; position: absolute; left: 0; right: 0; color: #008080;}
code:empty { display: none;}
#disqus_thread { margin-top: 3em;}

@media (max-width: 767px) {
    time { display: block;}
}

@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed {
        background-color: #0085a1;
        border-bottom: none;
    }

    .navbar-custom.is-fixed .nav li a, .navbar-custom.is-fixed .nav li a:hover {
        color: #fff;
    }
}