---
layout: page
title: Archive
description: "按年归档"
header-img: "img/home-bg.jpg"
---

<div class="archive">
    {% for post in site.posts %}
        {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
            <h3>{{ y }}</h3>
        {% endif %}
        <p>
            <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%m-%d" }}</time>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </p>
    {% endfor %}
</div>