div[class*="css-demo"], div[id*="js-demo"] { margin: 10px 0;}

.css-demo-1 { position: relative; width: 25px; height: 35px; cursor: pointer;}
.css-demo-1 span { position: absolute; left: 0; top: 7px; width: 100%; height: 2px; background: #444; transition: all .2s; transform-origin: right center;}
.css-demo-1 span:nth-child(2) { top: 16px;}
.css-demo-1 span:last-child { top: 25px;}
.css-demo-1:hover span:first-child { transform: rotate(-45deg);}
.css-demo-1:hover span:nth-child(2) { height: 0;}
.css-demo-1:hover span:last-child { transform: rotate(45deg);}


.css-demo-2 { position: relative; display: inline-block; cursor: pointer;}
.css-demo-2:before { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #444; transition: transform .2s; backface-visibility: hidden; transform: scaleX(0);}
.css-demo-2:hover:before { transform: scaleX(1);}


.css-demo-3 { width: 32px; height: 32px; border: 2px solid #444; border-radius: 50%; animation: pulsecircle .7s linear infinite;}

@keyframes pulsecircle {
    0% {
        transform: scale(.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.css-demo-4 { position: relative; width: 40px; height: 40px; box-shadow: 0 0 1px #666; border-radius: 50%; font-size: 1.5em; line-height: 40px; text-align: center; color: #666; transition: .5s cubic-bezier(.3,0,0,1.3);}
.css-demo-4:before { content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 50%; background: #39c492; opacity: 0; transform: scale(0,0); transition: .5s cubic-bezier(.3,0,0,1.3);}
.css-demo-4:hover { color: #fff; box-shadow: 0 0 1px #39c492;}
.css-demo-4:hover:before { opacity: 1; transform: scale(1,1);}
.css-demo-4 i { position: relative; }


.animated { animation-duration: .5s; animation-fill-mode: both;}
.animated.infinite { animation-iteration-count: infinite;}
.fadeInUp { animation-name: fadeInUp;}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


#backToTop { display: none; width: 36px; height: 36px; text-align: center; line-height: 36px; border-radius: 2px; color: #fff; background: #1A1F25; cursor: pointer;}

@media (max-width: 767px) {
    #backToTop { width: 30px; height: 30px; line-height: 30px;}
}


.sui-tag { position: relative; display: inline-block; margin: 0 .14285714em 0 1em; padding: .5833em 1.5em; font-size: .85714286rem; font-weight: 700; line-height: 1; color: rgba(0,0,0,.6); background-color: #e8e8e8; border-radius: 0 .28571429rem .28571429rem 0; }
.sui-tag:before { content: ''; position: absolute; top: 50%; right: 100%; width: 1.56em; height: 1.56em; background-color: inherit; transform: translateY(-50%) translateX(50%) rotate(-45deg); }
.sui-tag:after { content: ''; position: absolute; top: 50%; left: -.25em; width: .5em; height: .5em; margin-top: -.25em; background-color: #fff !important; border-radius: 500rem; box-shadow: 0 -1px 1px 0 rgba(0,0,0,.3); }
