p code, li code { white-space: pre-wrap; }
.brand img { position: relative; top: -1em; max-width: 72px; }
.post-avatar { max-width: 100px; }
h4, .blog-title { text-transform: none; }
h2 { margin-top: 45px; margin-bottom: 15px; }
.post-info { margin-bottom: 48px; }