body { font-size: 16px; }
a { color: #666;}
a:hover, a:focus { outline: none; text-decoration: none; color: #444;}
p code, li code { margin-left: 5px; margin-right: 5px; white-space: pre-wrap; }
.brand img { position: relative; top: -1em; max-width: 72px; }
.post-avatar { max-width: 100px; }
h4, .blog-title { text-transform: none; }
h2 { margin-top: 45px; margin-bottom: 15px; }
h3 { margin-top: 40px; text-transform: none; }
h6 { margin-top: 30px; margin-bottom: 10px; font-size: 16px; text-transform: none;}
h3 + h6 { margin-top: 20px; }
.post-info { margin-bottom: 48px; }
.post-template .post-body p { margin: 0; line-height: 1.8;}
.post-template .post-body blockquote p { margin-top: 10px; margin-bottom: 10px;}
.post-template .post-body blockquote .lead { font-size: 14px; }
.post-template .post-body h6 + p { margin-top: -5px;}
.post-template .post-body h3 + p { margin-top: -10px;}
.lead { font-size: inherit; }
p + .highlighter-rouge { margin-top: 10px; }
